<div class='post'>
  <div class="title">
    <h3>제목 : <%= @post.title %></h3>
  </div>
  <div class="content">
    <%= simple_format @post.content %>
  </div>
  <div class="user">
    <strong>Created by </strong>
    <%= @post.user.present? ? @post.user.name : "an anonymous user" %>,
    <%= (@post.created_at+9.hours).strftime("%Y.%m.%d %H:%M:%S") %>
  </div>
	<div class="view_counter">
		<p>조회수:<%= @post.impressionist_count %></p>
	</div>
</div>

<hr>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
<%= link_to 'Back', posts_path, class: 'btn btn-default' %>
